@model BodyBuddy.Models.UserProfile
@using System.Activities.Expressions
@*@model IEnumerable<BodyBuddy.Models.UserDetailDB>*@
@{
    ViewBag.Title = "ProfilePage";
}

<body class="bodybum">
    <div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1507333236231737";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <br/>
                        <br/>
                        <br/>
                        <div class="fb-share-button" data-href="http://localhost:63005/Account/ProfilePage#JGmodal1" data-layout="button_count"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="BodyBuddyProfile" data-via="JessPWhite" data-hashtags="BodyBuddy">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                        <br/>
                        <br/>
                        <a><img src="~/Images/ProfilePic1.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <h3 class="media-heading">
                            Suzy Sickalot, <small>Nottingham</small>
                        </h3>

                        <span class="label label-success"><strong>FUNDRAISER</strong></span>
                    </center>
                    <br/>
                    <div class="ui star rating">
                        <i class="icon active"></i>
                        <i class="icon active"></i>
                        <i class="icon active"></i>
                        <i class="icon active"></i>
                        <i class="icon active"></i>
                    </div>
                    <br/>
                    <center>
                        <span><strong>Charities: </strong></span>
                        <span class="large label label-warning">Crohns</span>
                        <span class="label label-warning">Colitis</span>
                        <span class="label label-warning">MAP</span>
                    </center>
                    <br/>
                    <center>
                        <span><strong>Events interested in: </strong></span>
                        <span class="label label-info">Athletic</span>
                        <span class="label label-info">AssualtCourses</span>
                        <span class="label label-info">Novelty</span>
                        <span class="label label-info">Running</span>
                    </center>
                    <br/>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong><br>
                            Had Crohns for many years and have been fundraising nearly as long. Interested in raising money for a variety
                            of challenges and hopefully raise awareness
                        </p>
                        <p class="text-left">
                            <strong>Current/Past Events: </strong><br>
                        </p>
                        <div class="col-md-2 col-sm-2 col-xs-3 portfolio-item">
                            <a href="https://www.justgiving.com/Jessica-White9">
                                <img src="~/Images/JustGiving.jpg" class="img-responsive img-rounded img-shadow" alt="">
                            </a>
                        </div>
                        <br>
                    </center>
                    <hr>
                    <center>
                        <br/>
                        <br/>
                        <p class="text-left">
                            <strong>Contact: </strong><br>
                        </p>
                        <a class="ui facebook button" href="https://www.facebook.com/jessica.white.5245">
                            <i class="facebook icon"></i>
                            Facebook
                        </a>
                        <a class="ui twitter button" href="https://twitter.com/JessPWhite">
                            <i class="twitter icon"></i>
                            Twitter
                        </a>
                        <a class="ui google plus button" href="https://plus.google.com/">
                            <i class="google plus icon"></i>
                            Google Plus
                        </a>
                    </center>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
