@{
    ViewBag.Title = "About";
}

<section class="about">
    <div class="row">
        <div>
            <h2>The Concept</h2>
            <h5>
                <p>
                    The idea behind Body Buddy is there are some people who want to raise money for charity by doing something
                    awesome like running up mountains, throwing sheep, running around London naked without getting arrested etc. but they can't.
                </p>
                <p>
                    This could be due to:
                    <ul>
                        <li>
                            a long term illness rendering them physically incapable
                        </li>
                        <li>
                            because they arranged to do something super, but on a drunken night out
                            slipped on something unspeakable and broke their leg.
                        </li>
                    </ul>
                </p>
                <p>
                    On the other hand there are many people who love to run marathons, bathe in beans or go to work with their underware
                    outside their trousers for a week.
                </p>
                <p>
                    It might be that:
                    <ul>
                        <li>
                            they find fundraising a lot of effort
                        </li>
                        <li>
                            they have asked all their loved ones for sponsership money
                            a few too many times and people are now dodging their calls.
                        </li>
                    </ul>
                </p>
                <p>
                    Body Buddy wants to unite these people to solve a simple issue. The first group can do some fantastic fundraising on
                    behalf of the people who enjoy doing such challenges.
                </p>
            </h5>
            <br/>
            <div>
                <img class="about-image" src="~/Images/Example.png" />
            </div>
        </div>
    </div>
</section>