@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Search";
}

<body class="bodybum">
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" action="">
        <div class="ui stacked segment">
            <div class="field">
                <h5>Looking For:</h5>
                <input type="checkbox" name="vehicle" value="Fundraiser">Fundraiser<br>
                <input type="checkbox" name="vehicle" value="Athlete">Athlete<br>
            </div>
                <div class="field">
                    <h5>Type of Activity</h5>
                    <input type="checkbox" name="vehicle" value="Athletic">Athletic<br>
                    <input type="checkbox" name="vehicle" value="Novelty">Novelty<br>
                    <input type="checkbox" name="vehicle" value="Strength">Strength<br>
                    <input type="checkbox" name="vehicle" value="Endurance">Endurance<br>
                </div>
                <div class="field">
                    <h5>Type of Charity</h5>
                    <input type="checkbox" name="vehicle" value="Bike">Health<br>
                    <input type="checkbox" name="vehicle" value="Car">Hospice<br>
                    <input type="checkbox" name="vehicle" value="Bike">Homeless<br>
                    <input type="checkbox" name="vehicle" value="Car">Animals<br>
                    <input type="checkbox" name="vehicle" value="Car">Children<br>
                    <input type="checkbox" name="vehicle" value="Car">Other<br>
                </div>
               
                @Html.ActionLink("Submit", "OtherProfilePage", "Account", null, new {@class = "btn-submit"})
            </div>
        </form>

       
    </div>
</div>
</body>